.resetButton{
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: #00474B;
    text-transform: uppercase;
    background: #26C2AE;
    border-radius: 5px;
    padding-block: 0.7rem;
    cursor: pointer;
}

.resetButton:hover{
    background-color: #9FE8DF;
}