.tipInputPercent {
  border: none;
  background-color: #00474b;
  color: white;
  padding: 0.375rem 0.875rem;
  font-family: "Space Mono";
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transition: 200ms all ease-in-out;
}

.tipInputPercent:hover {
  background: #9fe8df;
  color: #00474b;
}

.tipInputPercent[aria-checked="true"] {
  background: #26c2ae;
  color: #00474b;
}
