@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #c5e4e7;
  color: #5e7a7d;
  font-family: "Space Mono", Courier, monospace;
}

:focus, :focus-visible{
  outline: 2px dashed black;
}