.card{
    background-color: white;
    border-radius: 1.5625rem;
    padding: 2rem;
    margin-top: 2rem;
}

@media only screen and (min-width: 640px){
    .card{
        display: flex;
    }
}

@media only screen and (min-width: 1080px){
    
}